<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>React isomorphic</title>
</head>
<body>
    <div id="root">
        {{{ component }}}
    </div>
    <script src="main.js"></script>
    <script>
        renderApp('{{message}}')
    </script>
</body>
</html>
